extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h1 Student Form
      .w3-container
        ul.w3-ul.w3-card-4(style="width:100%;margin: 20px auto;border-radius: 8px;")
          li 
            a(href="/alunos") Students List
          li 
            a(href="/alunos/registo") Regist New Student
        ul